html {
  zoom: reset;
}

// Mixins
@mixin spacer($height) {
  height: $height;
}

// Partials
@import "_grid.scss";
@import "_flex.scss";

// Variables
$light-blue: #57bab9;
$dark-blue: #19414c;
$pink: #d93850;
$yellow: #f1c244;
$grey: #404c4c;
$red: #cb252f;


// Fonts
@font-face {
  font-family: Avenir;
  src: url(../fonts/AvenirNext/AvenirNext-Regular-08.ttf);
}

@font-face {
  font-family: Avenir-Light;
  src: url(../fonts/AvenirNext/AvenirNext-UltraLight-11.ttf);
}

@font-face {
  font-family: Avenir-Semi-Bold;
  src: url(../fonts/AvenirNext/AvenirNext-DemiBold-03.ttf);
}

@font-face {
  font-family: Avenir-Bold;
  src: url(../fonts/AvenirNext/AvenirNext-Bold-01.ttf);
}

@font-face {
  font-family: Avenir-Black;
  src: url(../fonts/AvenirNext/AvenirNext-Heavy-09.ttf);
}

@font-face {
  font-family: Righteous;
  src: url(../fonts/Righteous-Regular.ttf);
}

.righteous {
  font-family: Righteous, Helvetica, Arial, sans-serif;
}

.avenir {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.avenir-light {
  font-family: Avenir-Light, Helvetica, Arial, sans-serif;
}

.avenir-semi-bold {
  font-family: Avenir-Semi-Bold, Helvetica, Arial, sans-serif;
}

.avenir-bold {
  font-family: Avenir-Bold, Helvetica, Arial, sans-serif;
}

.avenir-black {
  font-family: Avenir-Black, Helvetica, Arial, sans-serif;
}

// Animations
.animate {
  -webkit-transition:all 0.8s ease-in-out;
  -moz-transition:all 0.8s ease-in-out;
  -o-transition:all 0.8s ease-in-out;
  transition:all 0.8s ease-in-out;
}

.animate-moderate {
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  transition:all 0.5s ease;
}

.animate-quick {
  -webkit-transition:all 0.25s ease-in-out;
  -moz-transition:all 0.25s ease-in-out;
  -o-transition:all 0.25s ease-in-out;
  transition:all 0.25s ease-in-out;
}

.animate-instant {
  -webkit-transition:all 0.125s ease-in-out;
  -moz-transition:all 0.125s ease-in-out;
  -o-transition:all 0.125s ease-in-out;
  transition:all 0.125s ease-in-out;
}

.animate-fade {
  -webkit-transition:opacity 1.5s ease;
  -moz-transition:opacity 1.5s ease;
  -o-transition:opacity 1.5s ease;
  transition:opacity 1.5s ease;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

// SCSS
a {
  text-decoration: none;
}

body {
  margin: 0px;
  min-width: 320px;
}

.bracket {
  position: absolute;
  font-size: 13.5em;
}

.bracket-content {
  font-size: 1.4em;
  position: absolute;
  top: 140px;
  left: 210px;
  text-transform: uppercase;
  #designers-count {
    position: absolute;
    top: 50px;
    white-space:nowrap;
    width: 250px;
  }
  #showcases-count {
    position: absolute;
    top: 150px;
    white-space:nowrap;
    width: 250px;
  }
  .text-subtitle {
    font-size: 0.7em;
    position: absolute;
    top: 225px;
    left: 0px;
    white-space: nowrap;
    width: 300px;
  }
}

.bracket-left {
  left: 75px;
}

.bracket-right {
  right: 35px;
  top: 75px;
}

.container-anchor-right {
  float: right;
}

.container-anchor-left {
  float: left;
}

.container-angle-up {
  clip-path: polygon(100% 0, 100% 80%, 0 95%, 0 15%);
  -webkit-clip-path: polygon(100% 0, 100% 80%, 0 95%, 0 15%);
  height: 800px;
}

.container-angle-down {
  -webkit-clip-path: polygon(0 0, 100% 30%, 100% 80%, 0 50%);
  clip-path: polygon(0 0, 100% 30%, 100% 80%, 0 50%);
  height: 1200px;
}

.container-bracket-content {
  position: absolute;
  top: 1220px;
  right: 150px;
  width: 655px;
}
// Container Colors
.container-dark-blue {
  background-color: $dark-blue;
}

.container-light-blue {
  background-color: $light-blue;
}

.container-red {
  background-color: $red;
}

.container-yellow {
  background-color: $yellow;
}
// End Container Colors

.container-date {
  height: 250px;
  margin-top: 350px;
  margin-left: auto;
  margin-right: auto;
}

.container-date-day {
  left: calc(100% / 2 - 142.5px);
  height: 250px;
  width: 255px;
  position: absolute;
}

.container-date-details {
  height: 50px;
  width: 265px;
  position: absolute;
  top: 245px;
  left: 8px;
}

.container-header { 
  position: absolute;
  margin-top: 150px;
  right: 0px;
  width: 700px;
}

.container-vertical {
  border-left: 30px solid white;
  border-right: 30px solid white;
  height: 1950px;
  left: 20%;
  position: absolute;
  top: 0px;
  width: 30%;
}

.designers-and-developers {
  font-size: 1.075em;
  letter-spacing: 7px;
  left: 25px;
  right: 0;
  top: 1280px;
  position: absolute;
  text-transform: uppercase;
  z-index: 4;

  .text-subtitle {
    font-size: 2em;
    letter-spacing: 2px;
    margin-top: 0;
  }
}

#mobile-designers-and-developers {
  display: none;
}

.nav-item {
  color: white;
  display: block;
  margin-bottom: 50px;
  text-transform: uppercase;

  &:hover {
    color: $yellow;
  }
  
}

// Navigation menu
.side-nav {
  left: 90px;
}

.side-nav-top {
  opacity: 0;
  position: absolute;
  top: 480px;
  z-index: 1;
}
.side-nav-middle {
  opacity: 0;
  position: absolute;
  top: 1250px;
  z-index: 1;
}
.side-nav-bottom {
  opacity: 0;
  position: absolute;
  top: 2315px;
  z-index: 1;
}
// End Navigation menu

.above-footer-caption {
  font-size: 1.75em;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
}

footer {
  font-size: 1.25em;
  height: 100px;
  line-height: 100px;
  text-transform: uppercase;
}

footer.mobile-footer {
  display: none;
}

#third-spacer, #fourth-spacer {
  display: none;
}

// Div Spacer Classes
.spacer-50 {
  @include spacer(50px);
}

.spacer-75 {
  @include spacer(75px);
}

.spacer-100 {
  @include spacer(100px);
}

.spacer-125 {
  @include spacer(125px);
}

.spacer-150 {
  @include spacer(150px);
}

.spacer-200 {
  @include spacer(200px);
}

.spacer-250 {
  @include spacer(250px);
}
// End Div Spacer Classes


//// TEXT SCSS
.text-anchor-right {
  margin-right: 12%;
  text-align: right;
}

.text-anchor-left {
  margin-left: 75px;
  text-align: left;
}

// Text Colors
.text-dark-blue {
  color: $dark-blue;
}

.text-light-blue {
  color: $light-blue;
}

.text-red {
  color: $red;
}

.text-white {
  color: white;
}

.text-yellow {
  color: $yellow;
}
// End Text Colors

// Text Weights
.text-date {
  font-size: 2em;
  margin-top: 0px;
  margin-bottom: 0px;
  position: absolute;
  text-transform: uppercase;
}

.text-date-location {
  bottom: 0px;
  letter-spacing: 1.8px;
  font-size: 0.625em;
}

.text-date-month {
  letter-spacing: 7.5px;
  left: 16px;
  top: 20px;
}

.text-date-time {
  font-size: 1.5em;
  letter-spacing: 5.2px;
  width: 102%;
}

.text-date-year {
  letter-spacing: 20px;
  top: 204px;
  right: -35px;
}

.text-header {
  font-size: 4.2em;
  margin-top: auto;
  margin-bottom: auto;
  text-transform: uppercase;
  white-space: nowrap;
}

.text-header-super-2 {
  font-size: 15em;
  left: 0px;
  letter-spacing: -30px;
  position: absolute;
  text-align: center;
}

.text-header-super-6 {
  font-size: 15em;
  letter-spacing: -30px;
  position: absolute;
  right: 0px;
  top: -37.5px;
  text-align: center;
}

.text-subtitle {
  font-size: 1.625em;
  margin-top: 10px;
  margin-bottom: -5px;
}
// End Text Weights

// Logo
#img-logo-top {
  opacity: 0;
  position: absolute;
  top: 75px;
  left: 75px;
  width: 125px;
}

#img-logo-middle {
  opacity: 0;
  position: absolute;
  top: 1100px;
  left: 75px;
  width: 125px;
}

#img-logo-bottom {
  opacity: 0;
  position: absolute;
  top: 2019px;
  left: 70px;
  width: 125px;
}
// End Logo

//// END TEXT CSS


//// MEDIA QUERIES
// Desktop
@media only screen and (min-width: 2150px) {
  .container-anchor-right.container-header {
    right: 120px;
  }
  .designers-and-developers {
    left: 15%;
  }
}

@media only screen and (max-width: 1750px) {
  .container-header {
    margin-top: calc(150px / 0.9);
    width: 690px;
  }
  
  .designers-and-developers {
    font-size: 1em * 0.9;
    letter-spacing: 4px;
  }
  
  .container-bracket-content {
    right: 100px;
    &::after {
      //content: "1";
    }
  }
}

@media only screen and (max-width: 1600px) {
  .container-header {
    width: 640px;
  }

  .designers-and-developers {
    left: 10px;
    letter-spacing: 3.5px;
  }
  
  .intro-text:nth-child(1) {
    font-size: 1.625em * 0.9;
  }

  .intro-text:nth-child(2) {
    font-size: 4.25em * 0.9;
  }

  .container-bracket-content {
    right: 60px;
    font-size: 1.5em;
    &::after {
      //content: "2";
    }
  }

  .bracket-left {
    left: 100px;
  }

  .bracket-right {
    top: 75px;
    right: 60px;
  }
}

@media only screen and (max-width: 1475px) {
  .container-header {
    margin-top: calc(150px / 0.75);
    width: 590px;
  }
  .designers-and-developers {
    letter-spacing: 0px;

    .text-subtitle {
      letter-spacing: 0px;
    }
  }
  
  .intro-text:nth-child(1) {
    font-size: 1.625em * 0.8;
  }

  .intro-text:nth-child(2) {
    font-size: 4.25em * 0.8;
  }

  .container-bracket-content {
    right: 20px;
    &::after {
      //content: "3";
    }
  }

  .bracket-left {
    top: 30px;
  }

  .bracket-right {
    top: 90px;
    right: 80px;
  }
}

@media only screen and (max-width: 1360px) {
  .container-bracket-content {
    font-size: 1.25em;
    top: 1300px;
    left: 50vw;
    width: 525px;

    &::after {
      //content: "4";
    }
  }

  .bracket-content {
    top: 100px;
    #showcases-count {
      top: 120px;
    }
    .text-subtitle {
      top: 180px;
    }
  }
  
  .bracket-left {
    left: 110px;
    top: 10px;
  }

  .bracket-right {
    top: 55px;
    right: 0px;
  }
}

@media only screen and (max-width: 1290px) {
  .container-header {
    margin-top: calc(150px / 0.7);
    width: 490px;
  }

  .designers-and-developers {
    font-size: 1em * 0.7;
    letter-spacing: 2px;
    top: calc(1280px / 0.975);
  }

  .intro-text:nth-child(1) {
    font-size: 1.625em * 0.7;
  }

  .intro-text:nth-child(2) {
    font-size: 4.25em * 0.7;
  }

  .container-bracket-content {
    right: -75px;
    &::after {
      //content: "5";
    }
  }
}

@media only screen and (max-width: 1155px) {
  .container-header {
    width: 450px;
  }

  .designers-and-developers {
    font-size: 1em * 0.65;
  }

  .intro-text:nth-child(1) {
    font-size: 1.625em * 0.65;
  }

  .intro-text:nth-child(2) {
    font-size: 4.25em * 0.65;
  }

  .side-nav {
    left: 50px;
  }

  #img-logo-top {
    left: 40px;
  }

  #img-logo-middle {
    left: 40px;
  }

  .container-bracket-content {
    font-size: 1em;
    right: -100px;
    width: 460px;
    &::after {
      //content: "6";
    }
  }

  .bracket-content {
    #designers-count {
      top: 40px;
    }
    #showcases-count {
      top: 100px;
    }
    .text-subtitle {
      top: 150px;
    }
  }

  .bracket-left {
    left: 130px;
    top: 25px;
  }

  .bracket-right {
    top: 65px;
    right: 0px;
  }

  #copyright {
    display: none;
  }
}

@media only screen and (max-width: 1075px) {
  .container-header {
    width: 420px;
  }

  .designers-and-developers {
    font-size: 1em * 0.6;
    top: calc(1280px / 0.965);
  }
  
  .intro-text:nth-child(1) {
    font-size: 1.625em * 0.6;
  }

  .intro-text:nth-child(2) {
    font-size: 4.25em * 0.6;
  }

  .container-bracket-content {
    font-size: 0.8em;
    top: 1335px;
    left: 45vw;
    width: 420px;
    &::after {
      //content: "7";
    }
  }

  .bracket-content {
    #designers-count {
      top: 25px;
    }
    #showcases-count {
      top: 75px;
    }
    .text-subtitle {
      top: 110px;
    }
  }

  .bracket-left {
    left: 140px;
    top: 40px;
  }

  .bracket-right {
    top: 70px;
    right: 0px;
  }
}

@media only screen and (max-width: 1000px) {
  .container-header {
    margin-top: calc(150px / 0.625);
    width: 38%;
  }

  .designers-and-developers {
    font-size: 1em * 0.575;
    left: 5px;
  }
  
  .intro-text:nth-child(1) {
    font-size: 1.625em * 0.5;
  }

  .intro-text:nth-child(2) {
    font-size: 4.25em * 0.5;
  }

  .container-bracket-content {
    &::after {
      //content: "8";
    }
  }
}
// End Desktop

// Phone & Tablet
@media only screen and (max-width: 960px) {
  .top-nav {
    display: block;
    background-color: $dark-blue;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    z-index: 2;
    #img-logo-top-nav {
      width: 70px;
      margin-top: 20px;
      margin-left: 20px;
    }
    #hamburger-menu {
      cursor: pointer;
      height: 40px;
      margin-top: 20px;
      margin-right: 20px;
    }
    #hamburger-menu-top-bracket {
      font-size: 2.9em;
      position: absolute;
      top: -8px;
      right: 34px;
      transform: rotate(90deg);
    }
    #hamburger-menu-menu {
      font-size: 0.8em;
      letter-spacing: 1.5px;
      margin-top: 10px;
      text-transform: uppercase;
    }
    #hamburger-menu-bottom-bracket {
      font-size: 2.9em;
      position: absolute;
      top: 23px;
      right: 34px;
      transform: rotate(90deg);
    }
    #menu-dropdown {
      background-color: $dark-blue;
      position: absolute;
      height: 100vh;
      top: -100vh;
      left: 0px;
      width: 100%;
      z-index: 3;
      #dropdown-close {
        font-size: 3em;
        position: absolute;
        top: 5px;
        right: 30px;
      }
      #dropdown-img-logo {
        position: absolute;
        top: 100px;
        left: calc((100vw - 250px) / 2);
        width: 250px;
      }
      .nav-item {
        color: white;
        display: block;
        font-size: 2em;
        letter-spacing: 2px;
        margin-bottom: 15px;
        text-transform: uppercase;

        &:hover {
          color: $yellow;
        }
      }
      #dropdown-nav {
        position: absolute;
        top: 35vh;
        left: calc((100vw - 210px) / 2);
      }
      #dropdown-footer {
        position: absolute;
        top: 62.5vh;
        left: calc((100vw - 180px) / 2);
        .nav-item {
          font-size: 1.5em;
          letter-spacing: 4px;
        }
      }
      #dropdown-copyright {
        position: absolute;
        font-size: 1.5em;
        letter-spacing: 0.26vw;
        top: 85vh;
        left: calc((100% - 95vw) / 2);
        text-align: center;
        text-transform: uppercase;
        width: 95vw;
      }
    }
  }

  .container-vertical {
    border: none;
    top: 250px;
    left: calc(20% / 2);
    height: 1100px;
    width: 80%;
    z-index: -1;
  }

  #first-spacer {
    display: none;
  }

  #fourth-spacer {
    display: none;
  }

  .container-angle-up {
    height: 600px;
    padding-top: 1px;
    .container-anchor-right {
      float: none;
      margin-left: calc((100% - 520px) / 2);
      width: 500px;
    }
  }

  .container-angle-down {
    height: 600px;
    margin-top: 400px;
    -webkit-clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%);
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%);
  }

  #img-logo-top {
    display: none;
  }
  #img-logo-middle {
    display: none;
  }
  #img-logo-bottom {
    display: none;
  }

  .side-nav-top {
    display: none;
  }
  .side-nav-middle {
    display: none;
  }
  .side-nav-bottom {
    display: none;
  }

  .container-header {
    position: relative;
    font-size: 1.5em;
    float: none;
    letter-spacing: 4px;
    margin-top: 160px;
    margin-right: 0px;
    .text-subtitle {
      letter-spacing: 1.35px;
      width: 500px;
    }
    .text-header {
      margin: 0;
      width: 500px;
    }
  }

  .container-date {
    font-size: 1em;
    margin-top: 500px;
    .text-date-year {
      letter-spacing: 22px;
      right: -45px;
    }
    .container-date-details {
      width: 280px;
      .text-date-time {
        letter-spacing: 6.1px;
      }
      .text-date-location {
        letter-spacing: 2.175px;
      }
    }
  }

  .designers-and-developers {
    display: none;
  }

  #mobile-designers-and-developers {
    display: block;
    font-size: 0.7em;
    text-align: center;
    margin-top: -50px;
    #first-break-point {
      letter-spacing: 1.2px;
    }
  }

  .container-bracket-content {
    float: none;
    left: calc((100vw - 550px) / 2);
    width: 410px;
    .bracket-left {
      font-size: 10em;
      top: 70px;
    }
    .bracket-content {
      top: 110px;
    }
    .bracket-right {
      top: 72px;
      font-size: 10em;
      right: 0px;
    }
    .bracket-content {
      .text-subtitle {
        display: none;
      }
    }
  }

  footer {
    display: none;
    height: 420px;
  }

  footer.mobile-footer {
    display: none;
    text-align: center;
    a {
      display: block;
      float: none;
      margin: 0px;
      width: 100%;
      &:hover {
        color: $yellow;
      }
    }
  }

  #third-spacer {
    display: block;
  }

  // For Firefox
  @-moz-document url-prefix() {
    .container-header {
      .text-subtitle {
        margin-right: 2px;
      }
      .text-header {
        #last-span {
          margin-right: 0px;
        }
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .above-footer-caption {

    font-size: 1.6em;
  }
}

@media only screen and (max-width: 650px) {
  .container-angle-up {
    .container-anchor-right {
      float: none;
      margin-left: calc((100% - 430px) / 2);
      width: 430px;
    }
  }

  .container-header {
    top: 50px;
    .text-subtitle {
      font-size: 0.7em;
      letter-spacing: 1.225px;
      margin-right: 5px;
      width: 430px;
    }
    .text-header {
      font-size: 1.8em;
      margin: 0;
      width: 430px;
    }
  }
  
  .container-bracket-content {
    right: calc((80% - 630px) / 2);
  }
}

@media only screen and (max-width: 500px) {
  .container-angle-up {
    .container-anchor-right {
      float: none;
      margin-left: calc((100% - 510px) / 2);
      width: 345px;
    }
  }

  .container-header {
    .text-subtitle {
      font-size: 0.6em;
      letter-spacing: 0.625px;
      margin-right: 5px;
    }
    .text-header {
      text-align: right;
      font-size: 1.4em;
    }
  }

  .container-bracket-content {
    right: calc((80% - 680px) / 2);
  }

  #third-spacer {
    display: none;
  }

  #fourth-spacer {
    display: block;
  }
}

@media only screen and (max-width: 420px) {
  .container-angle-up {
    .container-anchor-right {
      margin-left: calc((100% - 260px) / 2);
      width: 265px;
    }
  }

  .container-header {
    .text-subtitle {
      font-size: 0.475em;
      letter-spacing: 0.3px;
      margin-right: 5px;
      width: 265px;
    }
    .text-header {
      text-align: right;
      font-size: 1em;
      width: 265px;
    }
  }

  .above-footer-caption {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 380px) {
  .container-date {
    font-size: 0.9em;
    .container-date-day {
      .text-date-month {
        left: 25px;
      }
      .text-header-super-2 {
        left: 15px;
      }
      .text-header-super-6 {
        right: 15px;
      }
      .text-date-year {
        letter-spacing: 18px;
        top: 188px;
        right: -20px;
      }
    }
    .container-date-details {
      top: 230px;
      .text-date-time {
        letter-spacing: 5.4px;
        left: 10px;
      }
      .text-date-location {
        top: 30px;
        letter-spacing: 1.95px;
        left: 10px;
      }
    }
  }  

  .above-footer-caption {
    font-size: 1.3em;
  }
}
// End Phone & Tablet

// End Media Queries