.container-more-angle-up {
    clip-path: polygon(100% 0, 100% 80%, 0 95%, 0 31%);
    -webkit-clip-path: polygon(100% 0, 100% 50%, 0 95%, 0 31%);
    height: 1550px;
}

.container-rect {
    height: 1200px;
    left: 30%;
    width: 70%;
    position: absolute;
    top: 460px;
}

.text-anchor-center {
    left: 30%;
    text-align: center;
}

.text-name{
    font-size: 71px ;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 3px;
}

.top-bracket{
    position: absolute;
    top: 75px;
    font-size:  3.5em;
    text-align: center;
    margin-left: 10%;
}

.close{
    position: absolute;
    top: 75px;
    font-size:  3.5em;
    text-align: center;
    margin-left: 90%;
}

#student-photo{
    position: absolute;
    top: 320px;
    width: 590px;
    height: 900px;
    z-index: 1;
}

.title{
    position: relative !important;
    margin-top: 100px;
    margin-left: 20%;
    letter-spacing: 0.2em;
}

.name {
    position: absolute;
    top: 310px;
    left: 460px;
    z-index: 2;
}

.text-grey{
    color: #404C4C;
}

.text-header-more {
    font-size: 2.8em;
    margin-top: 50px;
    margin-bottom: auto;
    text-transform: uppercase;
    white-space: nowrap;
}
.write-up-size{
    font-size: 1.25em;
}
.tools-size{
font-size: 1em;
margin-top: 45px;
}

.margin-for-write-up{
    margin-top: 50px;
}
.para-size{
    margin-bottom: auto;
    margin-left: calc((100% - 300px) / 2);
    width: 500px;
    letter-spacing: 0.5px;
    line-height: 1.75em;
}
