html {
  zoom: reset; }

.grid {
  display: grid;
  left: 22%;
  top: -150px;
  position: relative;
  height: auto;
  width: 67.5vw;
  grid-template-columns: repeat(4, minmax(250px, 250px));
  grid-auto-rows: 1fr;
  grid-gap: 10px; }

.grid-mobile {
  display: none; }

.grid-photo {
  width: 100%;
  height: 100%; }

.grid::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1; }

.grid-item {
  height: 250px;
  text-align: center;
  line-height: 250px;
  text-transform: uppercase;
  font-size: 2.5em; }

.grid-item-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 0;
  grid-row-end: 1; }

.grid-item-2 {
  background-color: #f1c244;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 0;
  grid-row-end: 1; }

.grid-item-3 {
  background-color: #57bab9;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 0;
  grid-row-end: 1; }

.grid-item-4 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 0;
  grid-row-end: 1; }

.grid-item-5 {
  background-color: #f1c244;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2; }

.grid-item-6 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2; }

.grid-item-7 {
  background-color: #cb252f;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2; }

.grid-item-8 {
  background-color: #57bab9;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2; }

.grid-item-9 {
  background-color: #cb252f;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3; }

.grid-item-10 {
  background-color: #57bab9;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3; }

.grid-item-11 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3; }

.grid-item-12 {
  background-color: #f1c244;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3; }

.grid-item-13 {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 3;
  grid-row-end: 4; }

.grid-item-14 {
  background-color: #f1c244;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4; }

.grid-item-15 {
  background-color: #cb252f;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4; }

.grid-item-16 {
  background-color: #f1c244;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5; }

.grid-item-17 {
  background-color: #57bab9;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5; }

.grid-item-18 {
  background-color: #cb252f;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5; }

.grid-item-19 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5; }

@media only screen and (max-width: 1440px) {
  .grid {
    grid-template-columns: repeat(4, minmax(240px, 240px)); }

  .grid-item {
    height: 240px; } }
@media only screen and (max-width: 1300px) {
  .grid {
    grid-template-columns: repeat(4, minmax(200px, 200px)); }

  .grid-item {
    height: 200px;
    font-size: 1.5em;
    line-height: 200px; } }
@media only screen and (max-width: 1100px) {
  .grid {
    grid-template-columns: repeat(4, minmax(175px, 175px)); }

  .grid-item {
    height: 175px;
    font-size: 1.5em;
    line-height: 150px; } }
@media only screen and (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(4, minmax(6rem, 150px)); }

  .grid-item {
    height: 150px;
    font-size: 1.5em;
    line-height: 150px; } }
@media only screen and (max-width: 960px) {
  .grid {
    grid-template-columns: repeat(4, minmax(6rem, 150px));
    top: 50px;
    left: calc((100% - 645px) / 2); }

  .grid-item {
    height: 150px;
    font-size: 1.5em;
    line-height: 150px; }

  #third-spacer {
    display: block; } }
@media only screen and (max-width: 910px) {
  .grid {
    grid-template-columns: repeat(4, minmax(140px, 140px));
    left: calc((100% - 600px) / 2); }

  .grid-item {
    height: 140px;
    font-size: 1.5em;
    line-height: 145px; } }
@media only screen and (max-width: 750px) {
  .grid {
    grid-template-columns: repeat(4, minmax(125px, 125px));
    left: calc((100% - 520px) / 2); }

  .grid-item {
    height: 125px;
    line-height: 150px; } }
@media only screen and (max-width: 620px) {
  .grid {
    grid-template-columns: repeat(4, minmax(100px, 100px));
    left: calc((100% - 430px) / 2); }

  .grid-item {
    height: 100px;
    font-size: 1.1em;
    line-height: 105px; } }
@media only screen and (max-width: 500px) {
  .grid {
    display: none; }

  .grid-mobile {
    display: grid;
    left: 0;
    grid-template-columns: 49% 49%;
    grid-template-rows: repeat(14, auto);
    grid-gap: 9px; }
    .grid-mobile .grid-item {
      height: calc( 98vw / 2); }
    .grid-mobile .grid-item-1 {
      background-color: #f1c244;
      grid-column: 1 / 2;
      grid-row: 1 / 3; }
    .grid-mobile .grid-item-2 {
      background-color: #57bab9;
      grid-column: 2 / 3;
      grid-row: 2 / 4; }
    .grid-mobile .grid-item-3 {
      background-color: #cb252f;
      grid-column: 1 / 2;
      grid-row: 3 / 5; }
    .grid-mobile .grid-item-4 {
      background-color: #f1c244;
      grid-column: 2 / 3;
      grid-row: 4 / 6; }
    .grid-mobile .grid-item-5 {
      background-color: #57bab9;
      grid-column: 1 / 2;
      grid-row: 5 / 7; }
    .grid-mobile .grid-item-6 {
      background-color: #cb252f;
      grid-column: 2 / 3;
      grid-row: 6 / 8; }
    .grid-mobile .grid-item-7 {
      background-color: #f1c244;
      grid-column: 1 / 2;
      grid-row: 7 / 9; }
    .grid-mobile .grid-item-8 {
      background-color: #57bab9;
      grid-column: 2 / 3;
      grid-row: 8 / 10; }
    .grid-mobile .grid-item-9 {
      background-color: #cb252f;
      grid-column: 1 / 2;
      grid-row: 9 / 11; }
    .grid-mobile .grid-item-10 {
      background-color: #f1c244;
      grid-column: 2 / 3;
      grid-row: 10 / 12; }
    .grid-mobile .grid-item-11 {
      background-color: #57bab9;
      grid-column: 1 / 2;
      grid-row: 11 / 13; }
    .grid-mobile .grid-item-12 {
      background-color: #cb252f;
      grid-column: 2 / 3;
      grid-row: 12 / 14; }
    .grid-mobile .grid-item-13 {
      background-color: #f1c244;
      grid-column: 1 / 2;
      grid-row: 13 / 15; } }
@media only screen and (max-width: 400px) {
  .grid-item {
    font-size: 0.75em;
    line-height: 65px; } }
.flexbox {
  display: inline-flex;
  margin-right: 25px;
  margin-top: -100px; }

.flex-item {
  letter-spacing: 2.5px;
  margin-right: 50px; }
  .flex-item:hover {
    color: #f1c244; }

.flex-item-anchor-right {
  justify-self: flex-end; }

@media only screen and (max-width: 1155px) {
  .flexbox {
    justify-content: space-evenly;
    margin-top: 0px;
    margin-right: 0px;
    width: 100%; }

  .flex-item-anchor-right {
    margin-right: 0px; } }
@font-face {
  font-family: Avenir;
  src: url(../fonts/AvenirNext/AvenirNext-Regular-08.ttf); }
@font-face {
  font-family: Avenir-Light;
  src: url(../fonts/AvenirNext/AvenirNext-UltraLight-11.ttf); }
@font-face {
  font-family: Avenir-Semi-Bold;
  src: url(../fonts/AvenirNext/AvenirNext-DemiBold-03.ttf); }
@font-face {
  font-family: Avenir-Bold;
  src: url(../fonts/AvenirNext/AvenirNext-Bold-01.ttf); }
@font-face {
  font-family: Avenir-Black;
  src: url(../fonts/AvenirNext/AvenirNext-Heavy-09.ttf); }
@font-face {
  font-family: Righteous;
  src: url(../fonts/Righteous-Regular.ttf); }
.righteous {
  font-family: Righteous, Helvetica, Arial, sans-serif; }

.avenir {
  font-family: Avenir, Helvetica, Arial, sans-serif; }

.avenir-light {
  font-family: Avenir-Light, Helvetica, Arial, sans-serif; }

.avenir-semi-bold {
  font-family: Avenir-Semi-Bold, Helvetica, Arial, sans-serif; }

.avenir-bold {
  font-family: Avenir-Bold, Helvetica, Arial, sans-serif; }

.avenir-black {
  font-family: Avenir-Black, Helvetica, Arial, sans-serif; }

.animate {
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out; }

.animate-moderate {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.animate-quick {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

.animate-instant {
  -webkit-transition: all 0.125s ease-in-out;
  -moz-transition: all 0.125s ease-in-out;
  -o-transition: all 0.125s ease-in-out;
  transition: all 0.125s ease-in-out; }

.animate-fade {
  -webkit-transition: opacity 1.5s ease;
  -moz-transition: opacity 1.5s ease;
  -o-transition: opacity 1.5s ease;
  transition: opacity 1.5s ease; }

.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome and Opera */ }

a {
  text-decoration: none; }

body {
  margin: 0px;
  min-width: 320px; }

.bracket {
  position: absolute;
  font-size: 13.5em; }

.bracket-content {
  font-size: 1.4em;
  position: absolute;
  top: 140px;
  left: 210px;
  text-transform: uppercase; }
  .bracket-content #designers-count {
    position: absolute;
    top: 50px;
    white-space: nowrap;
    width: 250px; }
  .bracket-content #showcases-count {
    position: absolute;
    top: 150px;
    white-space: nowrap;
    width: 250px; }
  .bracket-content .text-subtitle {
    font-size: 0.7em;
    position: absolute;
    top: 225px;
    left: 0px;
    white-space: nowrap;
    width: 300px; }

.bracket-left {
  left: 75px; }

.bracket-right {
  right: 35px;
  top: 75px; }

.container-anchor-right {
  float: right; }

.container-anchor-left {
  float: left; }

.container-angle-up {
  clip-path: polygon(100% 0, 100% 80%, 0 95%, 0 15%);
  -webkit-clip-path: polygon(100% 0, 100% 80%, 0 95%, 0 15%);
  height: 800px; }

.container-angle-down {
  -webkit-clip-path: polygon(0 0, 100% 30%, 100% 80%, 0 50%);
  clip-path: polygon(0 0, 100% 30%, 100% 80%, 0 50%);
  height: 1200px; }

.container-bracket-content {
  position: absolute;
  top: 1220px;
  right: 150px;
  width: 655px; }

.container-dark-blue {
  background-color: #19414c; }

.container-light-blue {
  background-color: #57bab9; }

.container-red {
  background-color: #cb252f; }

.container-yellow {
  background-color: #f1c244; }

.container-date {
  height: 250px;
  margin-top: 350px;
  margin-left: auto;
  margin-right: auto; }

.container-date-day {
  left: calc(100% / 2 - 142.5px);
  height: 250px;
  width: 255px;
  position: absolute; }

.container-date-details {
  height: 50px;
  width: 265px;
  position: absolute;
  top: 245px;
  left: 8px; }

.container-header {
  position: absolute;
  margin-top: 150px;
  right: 0px;
  width: 700px; }

.container-vertical {
  border-left: 30px solid white;
  border-right: 30px solid white;
  height: 1950px;
  left: 20%;
  position: absolute;
  top: 0px;
  width: 30%; }

.designers-and-developers {
  font-size: 1.075em;
  letter-spacing: 7px;
  left: 25px;
  right: 0;
  top: 1280px;
  position: absolute;
  text-transform: uppercase;
  z-index: 4; }
  .designers-and-developers .text-subtitle {
    font-size: 2em;
    letter-spacing: 2px;
    margin-top: 0; }

#mobile-designers-and-developers {
  display: none; }

.nav-item {
  color: white;
  display: block;
  margin-bottom: 50px;
  text-transform: uppercase; }
  .nav-item:hover {
    color: #f1c244; }

.side-nav {
  left: 90px; }

.side-nav-top {
  opacity: 0;
  position: absolute;
  top: 480px;
  z-index: 1; }

.side-nav-middle {
  opacity: 0;
  position: absolute;
  top: 1250px;
  z-index: 1; }

.side-nav-bottom {
  opacity: 0;
  position: absolute;
  top: 2315px;
  z-index: 1; }

.above-footer-caption {
  font-size: 1.75em;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase; }

footer {
  font-size: 1.25em;
  height: 100px;
  line-height: 100px;
  text-transform: uppercase; }

footer.mobile-footer {
  display: none; }

#third-spacer, #fourth-spacer {
  display: none; }

.spacer-50 {
  height: 50px; }

.spacer-75 {
  height: 75px; }

.spacer-100 {
  height: 100px; }

.spacer-125 {
  height: 125px; }

.spacer-150 {
  height: 150px; }

.spacer-200 {
  height: 200px; }

.spacer-250 {
  height: 250px; }

.text-anchor-right {
  margin-right: 12%;
  text-align: right; }

.text-anchor-left {
  margin-left: 75px;
  text-align: left; }

.text-dark-blue {
  color: #19414c; }

.text-light-blue {
  color: #57bab9; }

.text-red {
  color: #cb252f; }

.text-white {
  color: white; }

.text-yellow {
  color: #f1c244; }

.text-date {
  font-size: 2em;
  margin-top: 0px;
  margin-bottom: 0px;
  position: absolute;
  text-transform: uppercase; }

.text-date-location {
  bottom: 0px;
  letter-spacing: 1.8px;
  font-size: 0.625em; }

.text-date-month {
  letter-spacing: 7.5px;
  left: 16px;
  top: 20px; }

.text-date-time {
  font-size: 1.5em;
  letter-spacing: 5.2px;
  width: 102%; }

.text-date-year {
  letter-spacing: 20px;
  top: 204px;
  right: -35px; }

.text-header {
  font-size: 4.2em;
  margin-top: auto;
  margin-bottom: auto;
  text-transform: uppercase;
  white-space: nowrap; }

.text-header-super-2 {
  font-size: 15em;
  left: 0px;
  letter-spacing: -30px;
  position: absolute;
  text-align: center; }

.text-header-super-6 {
  font-size: 15em;
  letter-spacing: -30px;
  position: absolute;
  right: 0px;
  top: -37.5px;
  text-align: center; }

.text-subtitle {
  font-size: 1.625em;
  margin-top: 10px;
  margin-bottom: -5px; }

#img-logo-top {
  opacity: 0;
  position: absolute;
  top: 75px;
  left: 75px;
  width: 125px; }

#img-logo-middle {
  opacity: 0;
  position: absolute;
  top: 1100px;
  left: 75px;
  width: 125px; }

#img-logo-bottom {
  opacity: 0;
  position: absolute;
  top: 2019px;
  left: 70px;
  width: 125px; }

@media only screen and (min-width: 2150px) {
  .container-anchor-right.container-header {
    right: 120px; }

  .designers-and-developers {
    left: 15%; } }
@media only screen and (max-width: 1750px) {
  .container-header {
    margin-top: calc(150px / 0.9);
    width: 690px; }

  .designers-and-developers {
    font-size: 0.9em;
    letter-spacing: 4px; }

  .container-bracket-content {
    right: 100px; } }
@media only screen and (max-width: 1600px) {
  .container-header {
    width: 640px; }

  .designers-and-developers {
    left: 10px;
    letter-spacing: 3.5px; }

  .intro-text:nth-child(1) {
    font-size: 1.4625em; }

  .intro-text:nth-child(2) {
    font-size: 3.825em; }

  .container-bracket-content {
    right: 60px;
    font-size: 1.5em; }

  .bracket-left {
    left: 100px; }

  .bracket-right {
    top: 75px;
    right: 60px; } }
@media only screen and (max-width: 1475px) {
  .container-header {
    margin-top: calc(150px / 0.75);
    width: 590px; }

  .designers-and-developers {
    letter-spacing: 0px; }
    .designers-and-developers .text-subtitle {
      letter-spacing: 0px; }

  .intro-text:nth-child(1) {
    font-size: 1.3em; }

  .intro-text:nth-child(2) {
    font-size: 3.4em; }

  .container-bracket-content {
    right: 20px; }

  .bracket-left {
    top: 30px; }

  .bracket-right {
    top: 90px;
    right: 80px; } }
@media only screen and (max-width: 1360px) {
  .container-bracket-content {
    font-size: 1.25em;
    top: 1300px;
    left: 50vw;
    width: 525px; }

  .bracket-content {
    top: 100px; }
    .bracket-content #showcases-count {
      top: 120px; }
    .bracket-content .text-subtitle {
      top: 180px; }

  .bracket-left {
    left: 110px;
    top: 10px; }

  .bracket-right {
    top: 55px;
    right: 0px; } }
@media only screen and (max-width: 1290px) {
  .container-header {
    margin-top: calc(150px / 0.7);
    width: 490px; }

  .designers-and-developers {
    font-size: 0.7em;
    letter-spacing: 2px;
    top: calc(1280px / 0.975); }

  .intro-text:nth-child(1) {
    font-size: 1.1375em; }

  .intro-text:nth-child(2) {
    font-size: 2.975em; }

  .container-bracket-content {
    right: -75px; } }
@media only screen and (max-width: 1155px) {
  .container-header {
    width: 450px; }

  .designers-and-developers {
    font-size: 0.65em; }

  .intro-text:nth-child(1) {
    font-size: 1.05625em; }

  .intro-text:nth-child(2) {
    font-size: 2.7625em; }

  .side-nav {
    left: 50px; }

  #img-logo-top {
    left: 40px; }

  #img-logo-middle {
    left: 40px; }

  .container-bracket-content {
    font-size: 1em;
    right: -100px;
    width: 460px; }

  .bracket-content #designers-count {
    top: 40px; }
  .bracket-content #showcases-count {
    top: 100px; }
  .bracket-content .text-subtitle {
    top: 150px; }

  .bracket-left {
    left: 130px;
    top: 25px; }

  .bracket-right {
    top: 65px;
    right: 0px; }

  #copyright {
    display: none; } }
@media only screen and (max-width: 1075px) {
  .container-header {
    width: 420px; }

  .designers-and-developers {
    font-size: 0.6em;
    top: calc(1280px / 0.965); }

  .intro-text:nth-child(1) {
    font-size: 0.975em; }

  .intro-text:nth-child(2) {
    font-size: 2.55em; }

  .container-bracket-content {
    font-size: 0.8em;
    top: 1335px;
    left: 45vw;
    width: 420px; }

  .bracket-content #designers-count {
    top: 25px; }
  .bracket-content #showcases-count {
    top: 75px; }
  .bracket-content .text-subtitle {
    top: 110px; }

  .bracket-left {
    left: 140px;
    top: 40px; }

  .bracket-right {
    top: 70px;
    right: 0px; } }
@media only screen and (max-width: 1000px) {
  .container-header {
    margin-top: calc(150px / 0.625);
    width: 38%; }

  .designers-and-developers {
    font-size: 0.575em;
    left: 5px; }

  .intro-text:nth-child(1) {
    font-size: 0.8125em; }

  .intro-text:nth-child(2) {
    font-size: 2.125em; } }
@media only screen and (max-width: 960px) {
  .top-nav {
    display: block;
    background-color: #19414c;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    z-index: 2; }
    .top-nav #img-logo-top-nav {
      width: 70px;
      margin-top: 20px;
      margin-left: 20px; }
    .top-nav #hamburger-menu {
      cursor: pointer;
      height: 40px;
      margin-top: 20px;
      margin-right: 20px; }
    .top-nav #hamburger-menu-top-bracket {
      font-size: 2.9em;
      position: absolute;
      top: -8px;
      right: 34px;
      transform: rotate(90deg); }
    .top-nav #hamburger-menu-menu {
      font-size: 0.8em;
      letter-spacing: 1.5px;
      margin-top: 10px;
      text-transform: uppercase; }
    .top-nav #hamburger-menu-bottom-bracket {
      font-size: 2.9em;
      position: absolute;
      top: 23px;
      right: 34px;
      transform: rotate(90deg); }
    .top-nav #menu-dropdown {
      background-color: #19414c;
      position: absolute;
      height: 100vh;
      top: -100vh;
      left: 0px;
      width: 100%;
      z-index: 3; }
      .top-nav #menu-dropdown #dropdown-close {
        font-size: 3em;
        position: absolute;
        top: 5px;
        right: 30px; }
      .top-nav #menu-dropdown #dropdown-img-logo {
        position: absolute;
        top: 100px;
        left: calc((100vw - 250px) / 2);
        width: 250px; }
      .top-nav #menu-dropdown .nav-item {
        color: white;
        display: block;
        font-size: 2em;
        letter-spacing: 2px;
        margin-bottom: 15px;
        text-transform: uppercase; }
        .top-nav #menu-dropdown .nav-item:hover {
          color: #f1c244; }
      .top-nav #menu-dropdown #dropdown-nav {
        position: absolute;
        top: 35vh;
        left: calc((100vw - 210px) / 2); }
      .top-nav #menu-dropdown #dropdown-footer {
        position: absolute;
        top: 62.5vh;
        left: calc((100vw - 180px) / 2); }
        .top-nav #menu-dropdown #dropdown-footer .nav-item {
          font-size: 1.5em;
          letter-spacing: 4px; }
      .top-nav #menu-dropdown #dropdown-copyright {
        position: absolute;
        font-size: 1.5em;
        letter-spacing: 0.26vw;
        top: 85vh;
        left: calc((100% - 95vw) / 2);
        text-align: center;
        text-transform: uppercase;
        width: 95vw; }

  .container-vertical {
    border: none;
    top: 250px;
    left: calc(20% / 2);
    height: 1100px;
    width: 80%;
    z-index: -1; }

  #first-spacer {
    display: none; }

  #fourth-spacer {
    display: none; }

  .container-angle-up {
    height: 600px;
    padding-top: 1px; }
    .container-angle-up .container-anchor-right {
      float: none;
      margin-left: calc((100% - 520px) / 2);
      width: 500px; }

  .container-angle-down {
    height: 600px;
    margin-top: 400px;
    -webkit-clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%);
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%); }

  #img-logo-top {
    display: none; }

  #img-logo-middle {
    display: none; }

  #img-logo-bottom {
    display: none; }

  .side-nav-top {
    display: none; }

  .side-nav-middle {
    display: none; }

  .side-nav-bottom {
    display: none; }

  .container-header {
    position: relative;
    font-size: 1.5em;
    float: none;
    letter-spacing: 4px;
    margin-top: 160px;
    margin-right: 0px; }
    .container-header .text-subtitle {
      letter-spacing: 1.35px;
      width: 500px; }
    .container-header .text-header {
      margin: 0;
      width: 500px; }

  .container-date {
    font-size: 1em;
    margin-top: 500px; }
    .container-date .text-date-year {
      letter-spacing: 22px;
      right: -45px; }
    .container-date .container-date-details {
      width: 280px; }
      .container-date .container-date-details .text-date-time {
        letter-spacing: 6.1px; }
      .container-date .container-date-details .text-date-location {
        letter-spacing: 2.175px; }

  .designers-and-developers {
    display: none; }

  #mobile-designers-and-developers {
    display: block;
    font-size: 0.7em;
    text-align: center;
    margin-top: -50px; }
    #mobile-designers-and-developers #first-break-point {
      letter-spacing: 1.2px; }

  .container-bracket-content {
    float: none;
    left: calc((100vw - 550px) / 2);
    width: 410px; }
    .container-bracket-content .bracket-left {
      font-size: 10em;
      top: 70px; }
    .container-bracket-content .bracket-content {
      top: 110px; }
    .container-bracket-content .bracket-right {
      top: 72px;
      font-size: 10em;
      right: 0px; }
    .container-bracket-content .bracket-content .text-subtitle {
      display: none; }

  footer {
    display: none;
    height: 420px; }

  footer.mobile-footer {
    display: none;
    text-align: center; }
    footer.mobile-footer a {
      display: block;
      float: none;
      margin: 0px;
      width: 100%; }
      footer.mobile-footer a:hover {
        color: #f1c244; }

  #third-spacer {
    display: block; }

  @-moz-document url-prefix() {
    .container-header .text-subtitle {
      margin-right: 2px; }
    .container-header .text-header #last-span {
      margin-right: 0px; } } }
@media only screen and (max-width: 850px) {
  .above-footer-caption {
    font-size: 1.6em; } }
@media only screen and (max-width: 650px) {
  .container-angle-up .container-anchor-right {
    float: none;
    margin-left: calc((100% - 430px) / 2);
    width: 430px; }

  .container-header {
    top: 50px; }
    .container-header .text-subtitle {
      font-size: 0.7em;
      letter-spacing: 1.225px;
      margin-right: 5px;
      width: 430px; }
    .container-header .text-header {
      font-size: 1.8em;
      margin: 0;
      width: 430px; }

  .container-bracket-content {
    right: calc((80% - 630px) / 2); } }
@media only screen and (max-width: 500px) {
  .container-angle-up .container-anchor-right {
    float: none;
    margin-left: calc((100% - 510px) / 2);
    width: 345px; }

  .container-header .text-subtitle {
    font-size: 0.6em;
    letter-spacing: 0.625px;
    margin-right: 5px; }
  .container-header .text-header {
    text-align: right;
    font-size: 1.4em; }

  .container-bracket-content {
    right: calc((80% - 680px) / 2); }

  #third-spacer {
    display: none; }

  #fourth-spacer {
    display: block; } }
@media only screen and (max-width: 420px) {
  .container-angle-up .container-anchor-right {
    margin-left: calc((100% - 260px) / 2);
    width: 265px; }

  .container-header .text-subtitle {
    font-size: 0.475em;
    letter-spacing: 0.3px;
    margin-right: 5px;
    width: 265px; }
  .container-header .text-header {
    text-align: right;
    font-size: 1em;
    width: 265px; }

  .above-footer-caption {
    font-size: 1.5em; } }
@media only screen and (max-width: 380px) {
  .container-date {
    font-size: 0.9em; }
    .container-date .container-date-day .text-date-month {
      left: 25px; }
    .container-date .container-date-day .text-header-super-2 {
      left: 15px; }
    .container-date .container-date-day .text-header-super-6 {
      right: 15px; }
    .container-date .container-date-day .text-date-year {
      letter-spacing: 18px;
      top: 188px;
      right: -20px; }
    .container-date .container-date-details {
      top: 230px; }
      .container-date .container-date-details .text-date-time {
        letter-spacing: 5.4px;
        left: 10px; }
      .container-date .container-date-details .text-date-location {
        top: 30px;
        letter-spacing: 1.95px;
        left: 10px; }

  .above-footer-caption {
    font-size: 1.3em; } }

/*# sourceMappingURL=stylesheet.css.map */
